* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
}

.screen[hidden] {
    width: 0px;
    height: 0px;
}

.screen {
    background-color: white;
    color: black;
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, min-content);
    gap: 8px;
}

.cell {
    --cell-size: 150px;
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: grey;
}

.cell:hover {
    background-color: lightgrey;
    cursor: pointer;
}