* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
}

.screen[hidden] {
    display: none;
}

.screen {
    background-color: white;
    color: black;
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

button {
    text-align: center;
    padding: 4px 12px;
}

#main-menu {
    justify-content: center;
}

#main-menu > div {
    background-color: grey;
    padding: 32px;
}

#nav-bar {
    width: 100%;
    text-align: center;
    padding: 8px;
    margin-bottom: 16px;
    
    background-color: grey;
}

#turn-indicator {
    text-align: center;
    font-size: 4em;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, min-content);
    gap: 8px;
    margin-bottom: 32px;
}

.cell {
    --cell-size: 150px;
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: grey;
}

.cell:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#hud {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 16px;
    text-align: center;

    background-color: grey;
}